@media (max-width:575px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }
    
    .common_btn {
        line-height: 15px;
    }
    
    /* banner sec start */
    #banner_slider {
        height: 500px;
    }
    
    #banner_slider .carousel-item h1 {
        font-size: 16px;
        margin: -20px 0px;
    }

    #banner_slider .carousel-item p {
        font-size: 8px;
        font-weight: 200;
        padding-top: 21px;
        margin: 0 auto;
        padding-bottom: 5px;
        element.style {
        margin-bottom: inherit;
}
    }

    #banner_slider .carousel-item h1 {
        font-size: 20px;
        margin: -100px auto;
    }

    #banner_slider .carousel-item p {
        font-size: 13px;
        font-weight: 200;
        padding-top: 20px;
        margin: 85px 60px;
        padding-bottom: 0px;
    }

    .slide_footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px 0;
        flex-wrap: wrap;
        gap: 15px;
    }

    .social_link {
        margin-bottom: inherit;
    }
    /* banner sec end */
}

@media (min-width:576px) and (max-width:767.98px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }
}


@media (min-width:768px) and (max-width:991.98px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .work-with-us-btn {
        display: none;
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    
}

@media (min-width:1400px) {

}











