@media (max-width:575.98px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }
    
    .common_btn {
        line-height: 15px;
    }
    
    /* banner sec start */
    #banner_slider {
        height: 540px;
    }
    
    #banner_slider .carousel-item h1 {
        font-size: 20px;
        margin: -25px auto;
    }

    #banner_slider .carousel-item p {
        font-size: 13px;
        font-weight: 400;
        padding-top: 20px;
        margin: 30px 30px;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    
    .slide_footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px 50px 0;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .social_link {
        margin-bottom: inherit;
    }
    /* banner sec end */
    
    .award_contant ul {
        gap: 20px;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    p {
        font-size: 14px;
    }

    .award_contant p {
        padding-bottom: 24px;
    }

    .award_contant h4 {
        padding-top: 35px;
    }

    #award {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    /* offered-ser start */

    .offered-ser{
        font-size: 30px;
    }

    .service_heading {
        flex-wrap: wrap;
        padding-bottom: 130px;
    }

    .service_heading {
        padding-bottom: 80px;
    }

    .service_item {
        padding: 64px 15px 25px;
    }

    .service_item h3 {
        font-size: 19px;
        gap: 10px;
    }

    .service_heading p {
        padding-top: 15px;
    }

    /* offered-ser end */

    /*case study sec start  */

    #padding {
        padding-top: 0px;
    }

    #case_studies .overlay {
        padding-top: 130px;
        padding-bottom: 55px;
    }

    .case_slider .case_item {
        padding: 24px;
    }

    #case_studies .chavrn-right {
        left: -428.28%;
    }

    /*case study sec end  */

    /* chose sec start */

    .logos {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 85px;
    }

    .annette-item .icon {
        width: 46px;
        height: 20px;
    }

    .annette-item p {
        font-size: 14px;
        padding-top: 32px;
        padding-bottom: 15px;
    }

    #choose {
        padding: 40px 0;
    }

    .choose_col::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #E2E5F1;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .yoo-yoo {
        padding-top: 15px;
    }

    .clients {
        padding-top: 48px;
    }

    .logos .logo-item {
        max-width: 100%;
        padding: 29px 9px;
        width: 170px !important;
    }

    .logos {
        gap: 10px;
        padding-right: 0px;
    }
    /* chose sec end */

    /* news sec start */

    .news_slider {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .news_slider_dots{
        display: none;
    }

    .left-slide{
        display: none;
    }
    .right-slide{
        display: none;
    }

    #news {
        padding: 40px 0;
    }

    /* news sec end */

    /* footer sec start */
    #project .project-heading {
        padding: 70px 0;
    }
    #project .project-heading h3 {
        font-size: 25px;
        padding-bottom: 20px;

    }


    #project .project-heading h6 {
        font-size: 20px;
    }







    /* footer sec end */




}

@media (min-width:576px) and (max-width:767.98px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }

    /* banner sec start */
    #banner_slider {
        height: 450px;
    }

    

    #banner_slider .carousel-item h1 {
        font-size: 30px;
        margin: -80px 0px;
    }

    

    #banner_slider .carousel-item p {
        font-size: 16px;
        padding-top: 100px;
        margin: 0 54px;
        padding-bottom: 14px;
    }

    .slide_footer {
        padding: 35px 30px 0;
    }

    .social_link {
        margin-bottom: inherit;
    }

    /* banner sec end */

    /* award wining sec start*/

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: -5px;
    }

    .award_contant h4 {
        padding-top: 40px;
    }

    /* award wining sec end */

    /* case stady sec start */

    #case_studies .overlay {
        padding-top: 105px;
        padding-bottom: 55px;
    }
    /* case stady sec end */

    /* chose sec start */

    .logos {
        justify-content: center;
        }
    

    .choose_col::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #E2E5F1;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .yoo-yoo {
        padding-top: 15px;
    }
       /* chose sec end */


       /* news sec start */

    .news_slider {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .news_slider_dots{
        display: none;
    }

    .left-slide{
        display: none;
    }
    .right-slide{
        display: none;
    }

    #news {
        padding: 62px 0;
    }

    /* news sec end */


    /* footer sec start */
    #project .project-heading {
        padding: 70px 0;
    }
    #project .project-heading h3 {
        font-size: 25px;
        padding-bottom: 20px;

    }


    #project .project-heading h6 {
        font-size: 20px;
    }







    /* footer sec end */

}


@media (min-width:768px) and (max-width:991.98px) {
    .nav-bar-button {
        margin-left: -1px;
        margin-top: 22px;
    }

    /* banner sec start */
    
    #banner_slider {
        height: 650px;
    }

    #banner_slider .carousel-item h1 {
        font-size: 59px;
        font-weight: 800;
    }

    #banner_slider .carousel-item p {
        font-size: 17px;
        margin: 0 76px;
    }

    .slide_footer {
        padding: 46px px 0;
    }

    .social_link {
        margin-bottom: inherit;
    }

    img {
        border-radius: 20px;
    }
    /* case stady sec start */
    
    #case_studies .overlay {
        padding-top: 110px;
        padding-bottom: 55px;
    }
    
    .logos {
        justify-content: center;
    }

    .choose_col::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #E2E5F1;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .yoo-yoo {
        padding-top: 15px;
    }

    .logos .logo-item {
        padding: 35px 65px;
        width: 296px;
        max-width: 100%;
    }

    /* case stady sec end */

    .news_slider {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .news_slider_dots{
        display: none;
    }

    .left-slide{
        display: none;
    }
    .right-slide{
        display: none;
    }

    #news {
        padding: 62px 0;
    }

    /* news sec end */



    

    
}

@media (min-width:992px) and (max-width:1199.98px) {
    .work-with-us-btn {
        display: none;
    }

    /* case study sec start */
    
    #case_studies .overlay {
        padding-top: 130px;
        padding-bottom: 55px;
    }
    /* case study sec end */



    /* chose sec start */

    .logos .logo-item {
        padding: 35px 65px;
        width: 296px;
        max-width: 100%;
    }

    .annette-item {
        padding: 25px;
    }

    .annette-item .icon {
        width: 46px;
        height: 20px;
        padding-top: 26px;
    }
    
    
    
    
    .right-slide {
        right: -4%;
    }
    
    
    .left-slide {
        margin-left: -18%;
    }
    /* chose sec end  */
    
    /* news sec start */

    #news {
        padding: 62px 0;
    }
    /* news sec end */



}





@media (min-width:1200px) and (max-width:1399.98px) {
    
    /* offer service start */
    
    
    .my-p-padding {
        padding-bottom: 23px;
    }
    /* offer service end */


    /* case study sec start */

    #case_studies .overlay {
        padding-top: 125px;
        padding-bottom: 55px;
    }
    /* case study sec end */

    /* chose sec start */

    

    .logos .logo-item {
        padding: 38px 96px;
        border-radius: 15px;
        width: 355px;
        max-width: 100%;
    }

    .annette-item .icon {
        width: 46px;
        height: 20px;
    }

    .right-slide {
        right: -4%;
    }
    
    
    .left-slide {
        margin-left: -18%;
    }

    /* chose sec end */

    /* news sec start */

    #news {
        padding: 62px 0;
    }
    /* news sec end */

}

/* @media (min-width:1400px) {
    
} */











